/*CSS GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    height: 100%;
}
form{
    width: 90%;
    max-width: 350px;
    min-height: 300px;
    max-height: 576px;
    position: relative;
    border-radius: .7em;
}
#container-image{
    top: -18%;
    padding: 15px;
    border-radius: 50%;
    position:absolute;
}
#container-image img{
    width: 70px;
    padding: 10px;
}

#container-input{
    width: 95%;
    margin-top: 15%;
}
#container-input input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 1% 1%;
    font-size: 20px;
    margin-bottom: 2%;
}
#container-remember{
    width: 85%;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
#container-remember label{
    cursor: pointer;
}
#container-remember a, #container-remember {
    text-decoration: none;
}
#container-button{
    width: 95%;
    margin-top: 30px;
    text-align: center;
}
#container-button button{
    width: 95%;
    padding: 2%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.icone-input{
    width: 20px;
    height: 80%;
}
#container-input div{
    width: 95%;
    display: flex;
    margin-bottom: 2%;
}
#container-input div img{
    width: 12%;
    padding: 2% 3%;
}
svg{
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

svg:hover{
    scale: 1.1;
}
/* RESPONSIVO */
@media screen and (min-width: 576px){
    form{
        width: 65%;
        max-width: 657px;
        height: 350px;
    }
    #container-image{
        top: -14%;
    }
    #container-input input{
        padding: 1% 2%;
        font-size: 25px;
        margin-bottom: 1%;
    }
    #container-input div:first-of-type {
        margin-bottom: 4%;
    }
    #container-remember{
        font-size: 22px;
    }
    #container-button button{
        padding: 2%;
        font-size: 22px;
        margin-bottom: 5%;
    }
}
@media screen and (min-width: 768px){
    form{
        width: 60%;
        max-width: 789px;
        height: 400px;
    }
}
@media screen and (min-width: 992px){
    form{
        width: 50%;
        max-width: 1021px;
        height: 450px;

    }
}
@media screen and (min-width: 1400px){
    form{
        width: 500px;
        height: 450px;
    }
}