main{
    background-color: #000000e0;
}
form{
    
    background-color: #474b41;
}
#container-image{
    background-color: #3b3d39;
}
#container-remember a, #container-remember {
    color: #FFFFFF;
}
#container-button button{
    color: #000;
    background-color: aliceblue; 
}
.icone-input{
    background-color: #FFFFFF;
}
#container-input div img{
    background-color: #FFFFFF;
}
