/* Modelo DARK */
form{
    background-color: #8F997E;
}
#container-image{
    background-color: #202D11;
}
#container-remember a, #container-remember {
    color: #FFFFFF;
}
#container-button button{
    color: #FFFFFF;
    background-color: #202D11;
}
.icone-input{
    background-color: #FFFFFF;
}
#container-input div img{
    background-color: #FFFFFF;
}
